@import '../../../styles/variables';

:host {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media not screen {
    & > button {
      display: none;
    }
  }
  @media screen {
    & > button {
      margin: ($space * .5) 0;
      border:0;
      background-color: transparent;
    }
    @media (min-width: $breakpoint-sm) {
      & > button {
        display: none;
      }
    }
    & > nav {
      @media (max-width: $breakpoint-sm) {
        &:not(.open){
          display: none;
        }
      }
    }
  }
}
