@import '../../../styles/variables';
@import '../../../styles/mixins/link';

:host {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($space * 3) ($space * 3) 0;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
  }
}
