@font-face {
  font-family: 'Fira Sans';
  src: url('./Fira_Sans/FiraSans-Regular.eot');
  src: url('./Fira_Sans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('./Fira_Sans/FiraSans-Regular.woff2') format('woff2'),
      url('./Fira_Sans/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./Fira_Sans/FiraSans-Bold.eot');
  src: url('./Fira_Sans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('./Fira_Sans/FiraSans-Bold.woff2') format('woff2'),
      url('./Fira_Sans/FiraSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./Fira_Sans/FiraSans-SemiBold.eot');
  src: url('./Fira_Sans/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./Fira_Sans/FiraSans-SemiBold.woff2') format('woff2'),
      url('./Fira_Sans/FiraSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./Fira_Sans/FiraSans-Light.eot');
  src: url('./Fira_Sans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
      url('./Fira_Sans/FiraSans-Light.woff2') format('woff2'),
      url('./Fira_Sans/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./Fira_Sans/FiraSans-Thin.eot');
  src: url('./Fira_Sans/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('./Fira_Sans/FiraSans-Thin.woff2') format('woff2'),
      url('./Fira_Sans/FiraSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
