<wlx-header>
  <wlx-navbar>
    <ol>
      <li><a href="#wellcome">Wellcome</a></li>
      <li><a href="#technologies">Technologies</a></li>
      <li><a href="#about">About Wolox</a></li>
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#requirements">Requirements</a></li>
      <li><a class="primary border" href="#login">Login</a></li>
    </ol>
  </wlx-navbar>
</wlx-header>
<main>
  <section id="wellcome">
    <wlx-wellcome></wlx-wellcome>
  </section>
  <section id="technologies">
    <wlx-technologies></wlx-technologies>
  </section>
  <div id="about">
    <wlx-about></wlx-about>
  </div>
  <section id="benefits">
    <wlx-benefits></wlx-benefits>
  </section>
  <section id="requirements">
    <wlx-requirements></wlx-requirements>
  </section>
</main>
