a{
  @include link($primary);
  &.border {
    border: $primary 1px solid;
    border-radius: ($space * 2);
  }
  &.primary {
    @include link($primary);
  }
  &.white {
    @include link(white);
  }
  &.button {
    font-size: .75rem;
    text-decoration: none;
    padding: .5rem 2rem;
  }
}
