a{
  @include link($primary);
  &.border {
    border: $primary 1px solid;
    border-radius: ($space * 2);
  }
  &.primary {
    @include link($primary);
  }
  &.white {
    @include link(white);
  }
}

.button {
  font-size: .75rem;
  text-decoration: none;
  padding: .5rem 2rem;
  border: 0;
  &.filling{
    background-color: $primary;
    @include link(white);
    border-radius: ($space * 2);
  }
  &.big {
    font-size: 1.15rem;
    font-weight: 600;
    padding: .75rem 3rem;
  }
}
