nav {
  ol, ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    margin: 0;
    padding: 0;
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      text-align: center;
    }
    & > li {
      @media (min-width: $breakpoint-sm) {
        margin: 0 $space;
      }
      & > a {
        display: inline-block;
        padding: ($space * .5) $space;
        @include link(black, 'none');
        &:hover:not(.border) {
          text-decoration: underline;
        }
      }
    }
  }
}
