$font: 'Fira Sans', Helvetica, Arial, sans-serif;
$space: 1rem;
$text: #12263C;
$primary: #00A7E8;
$secondary: #9FC739;

$breakpoint-xs: 426px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;
$breakpoint-lg: 1080px;
