@import '../../../styles/variables';
@import '../../../styles/mixins/flex';

:host {
  min-height: 100vh;
  @include flex(column, center, center);
  background: url('/assets/Bg_Header.png'), url('/assets/Bg_Footer.png');
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
  > :first-child {
    display: block;
    margin-bottom: $space;
  }
  > form {
    @include flex(column, stretch, center);
    padding: $space;
    background-color: hsl(hue($primary), saturation($secondary), 98%);
    box-shadow: 0 3px 10px  hsla(hue($primary), saturation($secondary), 10%, .25);

    @media (min-width: $breakpoint-sm) {
      min-width: 200px;
    }

    input[type=submit] {
      margin-top: $space;
    }
    > footer {
      text-align: center;
    }
  }
}
